<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

#yeah that way it will help not to shit

<a href="https://dataplatform.cloud.ibm.com/gallery">IBM Cloud Gallery</a>

| header | header |
| ------ | ------ |
| cell | cell |

 # Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List Popular Languages
- Free Source Data Science Tools
- List of Commonly used libraries
- Arithmatic Examples
- Author Name

Some of the popular languages that Data Scientists use are:

    1. Python
    
    2. R language
    
    3. SQL
    
    4. Julia
    
    5. Java
    
    6. Matlab

Some of the commonly used libraries used by Data Scientists include:

    1. Pandas
    
    2. Numpy
    
    3. Tensorflow
    
    4. Matpotlib
    
    5. PyTorch
    
    6. Beautifulsoup

| Data Science Tools |
| ----------- |
|  1, R studio |
| 2, Apache Spark |
|  3, TesorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
result = (3 * 4) + 5
print(result)

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200

# convert minutes to hours
hours = minutes / 60

# print the result
print(minutes, "minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Shams Arfeen